.message[class=(message.user == user ? 'own' : '')]
  - if message.user == user
    span.time
      = message.created_at.strftime('%d.%m.%Y %R')
  span.name
    = message.user == user ? 'You' : message.user.name
  - if message.user != user
   span.time
     = message.created_at.strftime('%d.%m.%Y %R')
  p
    = message.content.gsub("\n", '<br>').html_safe
