.outer
  .inner
    - if user
      .chat
        - messages.each do |message|
          = render 'message', user: user, message: message
      form.chat-form[action=send_message_path(user) method='post']
        input[type="hidden" name="authenticity_token" value=form_authenticity_token]
        textarea[name="content" id="message" autofocus=true]
        button.send-message[type="submit" disabled=true]
          | Send
        button.reset-chat[data-url=reset_chat_path]
          | Reset
      input.update-url[type='hidden' value=update_chat_path(user: user)]
    - else
      form[action="" method="get"]
        label[for="username"]
          | Username
        input[type="text" name="username" id="username" autofocus=true]
        button[type='submit']
          | Begin
