label {
  display: block;
  color: #3e8bb2;
  font-size: 20px;
}

input[type=text],
textarea {
  border: 1px solid #aaa;
  color: #333;
  display: block;
  font-size: 20px;
  height: 50px;
  outline: 0;
  padding: 0 20px;
  width: 400px;
}

textarea {
  font-family: Arial, sans-serif;
  height: 75px;
  padding: 20px 20px;
}

.chat {
  width: 100%;
  height: 500px;
  overflow-y: scroll;

  .message {
    background-color: #3e8bb2;
    color: white;
    margin: 15px auto 15px 0;
    padding: 15px;
    width: 70%;

    &.own {
      background-color: lighten(#3e8bb2, 15);
      margin: 15px 0 15px auto;
    }

    span {
      font-size: 15px;

      &:last-of-type {
        float: right;
      }
    }

    p {
      font-size: 20px;
      margin: 15px 0 0;
    }
  }
}

.reset-chat {
  float: right;
}
