body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.outer {
  height: 100vh;
  position: relative;
  width: 100%;

  .inner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

a[href] {
  clear: left;
  color: #3e8bb2;
  display: block;
  float: left;
  font-size: 60px;
  left: 50%;
  position: relative;
  text-decoration: none;
  transform: translateX(-50%);

  &::before {
    background-color: #3e8bb2;
    bottom: 0;
    content: '';
    height: 3px;
    left: 51%;
    position: absolute;
    right: 51%;
    transition-duration: .2s;
    transition-property: left right;
  }

  &:hover {
    &::before {
      left: 0;
      right: 0;
    }
  }
}
